.Navbar{
    background: rgb(20, 20, 20);
    width: 100%;
    padding: 1.5rem;
    display:flex;
    justify-content: space-around;
}

.Navbar a{
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.Navbar a.Navbar-active{
    color: tomato;
}