.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(
    135deg,
    rgba(221, 197, 197) 0%,
    rgba(221, 197, 197) 50%,
    rgb(179, 19, 19) 50%,
    rgb(179, 19, 19) 100%
  );
}
